* {
	box-sizing: border-box;
	font-family: "Trebuchet MS", sans-serif;
}

p, li {
	line-height: 1.7;
	text-align: justify;
	font-size: 18px;
	color: white;
}


/* homepage css */
#homepage { 
  background: url("../images/homepage_bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
	-o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
	background-color: #1b1e2b;
	position: relative;
	margin: 0;
	overflow: auto;
}

#homepageTitle {
	font-size: 65px;
	font-family: Helvetica, sans-serif;
	text-transform: uppercase;
	margin: 25px 0;
}

a:hover {
	color: #ceedfd;
	text-decoration: underline;
}

.pageLinks {
	text-decoration-line: none;
	font-size: 25px;
}

.bgImage {
	font-size: 14px;
}

#mainText {
	color: #c4ebff;
	margin: 150px auto;
	width: 740px;
	max-width: 92%;
}

#homepageTitle, #description {
	text-align: center;
}

#links {
	position: absolute;
	top: 420px;
	left: 1024px;
}

#footerHome {
	margin: 0 0 0 50px;
	width: fit-content;
	max-width: 92%;
}

#footerHome p {
	font-size: 14px;
}


/* navigation bar */
nav {
	position: relative;
	top: 0;
	width: 100%;
	padding: 19px 0;
}

.navContent {
	border-bottom: 5px solid #89bad6;
	background-color: #161B22;
}

nav a {
	font-weight: bold;
	color: white;
	text-align: right;
	padding: 25px 20px;
	text-decoration: none;
	font-size: 20px;
	display: inline-block;
}

nav a.active {
	text-decoration: underline;
}

nav a:hover {
	color: #89bad6;
	transition: color 0.4s ease-in-out;
}

nav a:active, summary:active {
	transform: translate(0, 3px);
	transition: transform 0.15s ease-in-out;
}

nav a.notActive:hover {
	text-decoration: none;
}

.navHome a:hover {
	color: rgba(255, 255, 255, 0.514);
}

#logo {
	height: 65px;
	overflow: auto;
	margin: 0 40px;
	vertical-align: middle;
}


/* content page css */
.contentPage {
	margin: 0;
	background-color: #161B22;
	position: relative;
}

.mainSection, .footerMainSection {
	width: 1200px;
	max-width: 92%;
	margin: auto;
}

.pageTitle {
	margin: 60px 0 30px 0;
	font-size: 40px;
	color: #c4ebff;
}

#page1image1, #page1image3, #page2image1, #page2image2, #page3image1, #page3image3, #page4image3, #page4image5, #page4image6 {
	width: 40%;
	max-width: 40%;
	max-height: 100%;
	object-fit: contain;
	overflow: auto;
	float: right;
	clear: right;
}

#page4image1 {
	width: 50%;
	max-width: 50%;
	max-height: 100%;
}

#page4image2 {
	width: 30%;
	max-width: 30%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
}

#page3image2, #page4image4 {
	width: 40%;
	max-width: 40%;
	max-height: 100%;
	object-fit: contain;
	overflow: auto;
	height: auto;
	float: left;
	clear: left;
}

#page1image2 {
	width: 36%;
	max-width: 36%;
	max-height: 100%;
	object-fit: contain;
	overflow: auto;
	height: auto;
	float: left;
	clear: left;
}

.subSection {
	clear: both;
	width: 100%;
	margin: 85px 0;
}

#definition, #whyConcern, #internetImpact, #pandemic, #whyDifferent, #emotions, #passwords, #respectText, .awareness {
	width: 55%;
	font-size: 18px;
}

.effects, .prevention {
	margin: 50px 0;
}

#netiquette {
	margin-top: 125px;
}

.videos {
	text-align: center;
}

h2, summary {
	color: #c4ebff;
	font-size: 1.5em;
	font-weight: bold;
}

h3 {
	color: #c4ebff;
	font-size: 1.2em;
	font-weight: bold;
}

div.subSection > div, #physicalHealth, #interact {
	width: 55%;
	margin: 0 0 0 45%;
}

details {
	margin: 185px 0;
}

.references {
	font-size: 16px;
	text-align: left;
}

details p, a {
	color: white;
}


summary {
	display: inline-block;
	position: relative;
}

summary::after {
	bottom: 0;
  left: 0;
	content: '';
  position: absolute;
  width: 100%;
	height: 3px;
  background-color: #5192be;
	transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-in-out;
}

summary:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*** footer ***/
.footersubPage {
	background-color:#14151f;
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 70px;
}

.footersubPage p {
	margin: 10px;
	font-size: 18px;
}

.footersubPage div {
	display: inline-block;
	margin: 10px;
}

.footersubPage a, .footersubPage a:hover {
	color: #14151f;
}

.socmedImgSprites, .copyright {
	width: 50%;
	display: inline-block;
}

.footerMainSection {
	position: relative;
}


.copyright {
	position: absolute;
	right: 0;
	bottom: 0;
}

.copyright p {
	text-align: right;
}


		
.facebook {
	background: url('../images/imagesprites.png') no-repeat -12px -12px;
	width: 45px;
	height: 45px;
}

.facebook:hover {
	background: url('../images/imagesprites.png') no-repeat -12px -88px;
	width: 45px;
	height: 45px;
}

.twitter {
	background: url('../images/imagesprites.png') no-repeat -102px -12px;
	width: 45px;
	height: 45px;
}

.twitter:hover {
	background: url('../images/imagesprites.png') no-repeat -102px -88px;
	width: 45px;
	height: 45px;
}

.instagram {
	background: url('../images/imagesprites.png') no-repeat -193px -12px;
	width: 45px;
	height: 45px;
}

.instagram:hover {
	background: url('../images/imagesprites.png') no-repeat -193px -88px;
	width: 45px;
	height: 45px;
}